<!-- About Section -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">ARE YOU READY FOR SHEVEN KEKOOLANI?</h2>
            </div> 
            <div class="col-lg-12 text-justify">
                <p>SouthWesties ABQ is ecstatic to bring All-Star/Champion Lead Sheven Kekoolani to Albuquerque, New Mexico!</p>
                <p>Sheven Kekoolani is a widely-recognized instructor, choreographer, judge, and emcee. He has been competing
                    in West Coast Swing for over 15 years. The breadth of his dance education spans from hip-hop to hula and
                    beyond!
                </p>
                <p>To schedule a private lesson with Sheven Kekoolani or to RSVP for the Board Game Night, please email us 
                    directly at southwestiesabq@gmail.com!
                </p>
                <p>No RSVP is required for the beginner lesson, social dancing, workshops, or practica.
                </p>
                <img src="../img/sheven-x-swabq/sheven-madjam.jpg" class="img-responsive img-circle img-centered">
            </div> 
        </div>
    </div>
</section>