<!-- Activity Grid Section -->
<section id="activities" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1 class="section-heading">Activities</h1>
                <h2 class="section-subheading">We're gonna have some fun!</h2>
            </div>
        </div>
        <div class="row">
        {% for post in site.posts %}
            <div class="col-md-4 col-sm-6 portfolio-item">
                <div class="portfolio-caption text-center">
                    <h3>{{ post.title }}</h3>
                    <p>{{ post.subtitle }}</p>
                    <img src="{{ post.img }}" class="img-responsive img-circle img-centered">
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
</section>