<!-- Schedule Section -->
<section id="schedule">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Schedule</h2>
            </div>
            <div class="col-lg-12 text-justify">
                <p>We at SouthWesties want to make West Coast Swing as affordable for the community as possible.</p>
                <p>Students* get half-off listed prices!</p>
                <ul>
                    <li>Thursday Night Beginner Lesson & Social Dance - Free for first-time attendees, $3 for returning dancers</li>
                    <li>Friday Evening Guide Dance Practica (2 Hours) - $20</li>
                    <li>Friday Night Board Game Night - Free, RSVP-Only by emailing us at southwestiesabq@gmail.com</li>
                    <li>Saturday Afternoon Workshops (50 Minutes Each) - $30 for all three, or $15 per individual workshop</li>
                    <li>Sunday Afternoon Competitors' Practica (3 Hours) - $20</li>
                </ul>
                <p>* Students are individuals who are 18 years old or younger, or have a valid student ID, or have documents confirming enrollment in a school or university.</p>
            </div> 
            <table>
                <colgroup>
                    <col width="20%" />
                    <col width="20%" />
                    <col width="20%" />
                    <col width="40%" />
                </colgroup>
                    <thead>
                        <tr class="header">
                            <th><p>Date</p></th>
                            <th><p>Time</p></th>
                            <th><p>Location</p></th>
                            <th><p>Description</p></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><p>Thursday, May 16</p></td>
                            <td><p>7 - 7:45 PM</p></td>
                            <td><p>Lloyd Shaw Dance Center</p></td>
                            <td><p>Beginner Lesson Taught by Sheven!</p></td>
                        </tr>
                        <tr>
                            <td><p></p></td>
                            <td><p>7:45 - 10 PM</p></td>
                            <td><p>Lloyd Shaw Dance Center</p></td>
                            <td><p>SouthWesties ABQ Social Dancing with Sheven!</p></td>
                        </tr>
                        <tr>
                            <td><p>Friday, May 17</p></td>
                            <td><p>5:30 - 7:30 PM</p></td>
                            <td><p>Lloyd Shaw Dance Center</p></td>
                            <td><p>Guided Dance Practica with Sheven!</p></td>
                        </tr>
                        <tr>
                            <td><p></p></td>
                            <td><p>8 PM - 12 AM</p></td>
                            <td><p>Los Altos Towers Apartments (Tentative)</p></td>
                            <td><p>Board Games with Sheven?!? (RSVP-only)</p></td>
                        </tr>
                        <tr>
                            <td><p>Saturday, May 18</p></td>
                            <td><p>12 - 12:50 PM</p></td>
                            <td><p>Albuquerque Square Dance Center</p></td>
                            <td><p>Workshop 1 Taught by Sheven!</p></td>
                        </tr>
                        <tr>
                            <td><p></p></td>
                            <td><p>1 - 1:50 PM</p></td>
                            <td><p>Albuquerque Square Dance Center</p></td>
                            <td><p>Workshop 2 Taught by Sheven!</p></td>
                        </tr>
                        <tr>
                            <td><p></p></td>
                            <td><p>2 - 2:50 PM</p></td>
                            <td><p>Albuquerque Square Dance Center</p></td>
                            <td><p>Workshop 3 Taught by Sheven!</p></td>
                        </tr>
                        <tr>
                            <td><p></p></td>
                            <td><p>7:30 - 10 PM</p></td>
                            <td><p>CSP Dance Studios</p></td>
                            <td><p>Strictly Swing Social Dancing with Sheven!</p></td>
                        </tr>
                        <tr>
                            <td><p>Sunday, May 19</p></td>
                            <td><p>12 - 3 PM</p></td>
                            <td><p>Lloyd Shaw Dance Center</p></td>
                            <td><p>Competitors' Practica with Sheven!</p></td>
                        </tr>
                    </tbody>
            </table> 
        </div>
    </div>
</section>