<!-- Events Section -->
    <section id="events">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Events</h2>
                    <p> We host lots of opportunities for learning and dancing West Coast Swing! </p>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <a href="https://fb.me/e/1RSUUNiuL"><img src="img/logos/chile-dance.png" class="img-responsive img-circle" ></a>
                    </span>
                    <h4 class="event-heading"> <a href="https://fb.me/e/1RSUUNiuL">Weekly Beginner Lessons</a></h4>
                    <p> We host a beginner lesson every Thursday from 7 - 7:45 PM at <a href="https://maps.app.goo.gl/4f6UNHXkNMHtCQ8z5">Lloyd Shaw Dance Center</a>! </p>
                </div>
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <a href="https://fb.me/e/1RSUUNiuL"><img src="img/logos/chile-dance.png" class="img-responsive img-circle" ></a>
                    </span>
                    <h4 class="event-heading"> <a href="https://fb.me/e/1RSUUNiuL">Weekly Social Dances</a> </h4>
                    <p> We're at <a href="https://maps.app.goo.gl/4f6UNHXkNMHtCQ8z5">Lloyd Shaw Dance Center</a> every Thursday night 7:45 - 10PM for awesome social dancing!</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Check out our socials!</h2>
                    <ul class="list-inline social-buttons">
                        {% for network in site.social %}
                        <li>
                            <a href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i></a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </section>