---
layout: default
---

{{content}}

<form action="https://formspree.io/xrgpvqvd" method="POST">
    <input class="contact-text" id="contact-name" type="text" name="name" placeholder="Name (required)" required></input>
    <input class="contact-text" id="contact-email" type="text" name="_replyto" placeholder="Email (required)" required></input>
    <input class="contact-text" id="contact-subject" type="text" name="subject" placeholder="Subject"></input>
    <textarea class="contact-textarea" id="contact-message" name="message" placeholder="Message (required)" required></textarea>

    <!-- your other form fields go here -->
    <button type="submit">Send</button>
</form>