<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        <p>
          Because of the continuing COVID-19 pandemic, it is important that we 
          maintain social distance practices to limit the spread of the virus. 
          Social dancing is especially risky considering its prolonged close 
          interaction, including physical contact, with many people over the 
          course of the night. As such, we have cancelled all of our dances 
          moving forward until we believe that having dances will not put our 
          community members at risk.
        </p>
          
        <p>
          Thank you all so much for your understanding and support. Stay safe; stay healthy.
        </p>
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
